body {
    background-color: #101820;
    font-family: 'Segoe UI';
    color:#ffa600;
    margin: 5px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(57, 54, 104) 15%, rgb(53, 53, 124) 58%, rgb(140, 0, 255) 100%);
}

h0{
    font-size:70px;
    backdrop-filter: blur(200px);
    background-color:rgb(52, 29, 71);
    margin-left:15px;
    padding-right:15%;
    font-weight: bold;
    font-family: 'Comic Sans MS';
    letter-spacing: 2px;
    color:#ffee00;
    
}
as{
    text-align:right;
    margin-bottom: 15%;
    background-color:rgb(52, 29, 71);
    backdrop-filter:blur(20px);
    font-size: 30px;
    letter-spacing: 1px;
    margin: 5%;
    margin-left: 17%;
    margin-top: 15%;
    color:#ffee00;
}

h1{
    text-align: center;
    margin: 15px;
    margin-top:0px;
    padding: 15px;
    backdrop-filter: blur(200px);
    background-color:rgb(52, 29, 71);
    font-size: 100px;
}

abme{
    font-size: 40px;
    background-color:rgb(52, 29, 71);
    margin:5%; 
    text-align: left;
}

ul{
    font-size: 17px;
    color: rgb(17, 204, 179);
    background-color: rgb(93, 34, 107);
    cursor: pointer;
    margin: 5%;
    margin-left: 5%;
    margin-right: 60%;
    letter-spacing: 1px;
    font-family:'Arial';
}